## NEM Emissions Data tool
### Example One: Total Emissions
Using the package to calculate total emissions for a historical period in the NEM

#### Import Packages

In [1]:
from nemed.process import *

ModuleNotFoundError: No module named 'nemed'

#### Define Local Parameters

In [7]:
cache = "" # Change this to a existing local empty folder or leave blank "" to create new cache
start_time = "2021/12/27 00:00:00" # Start of historical period to collect data for
end_time = "2021/12/28 00:00:00" # End of historical period to collect data for
filter_units = None
filter_regions = None

#### Get Total Emissions by Dispatch Interval and for each DUID

In [8]:
interval_totals = get_total_emissions_by_DI_DUID(start_time, end_time, cache, filter_units, filter_regions)
interval_totals

Compiling data for table DISPATCHLOAD.
Returning DISPATCHLOAD.

,Time,DUID,REGIONID,Plant_Emissions_Intensity,Energy,Total_Emissions
0,2021-12-27 00:05:00,ADPBA1G,SA1,0.000000,0.000000,0.000000
1,2021-12-27 00:05:00,ADPBA1L,NaN,NaN,0.000000,NaN
2,2021-12-27 00:05:00,ADPPV1,SA1,0.000000,0.000000,0.000000
3,2021-12-27 00:05:00,AGLHAL,SA1,1.174440,0.000000,0.000000
4,2021-12-27 00:05:00,AGLSOM,VIC1,0.817915,0.000000,0.000000
...,...,...,...,...,...,...
126121,2021-12-28 00:00:00,YENDWF1,VIC1,0.000000,5.651250,0.000000
126122,2021-12-28 00:00:00,YWPS1,VIC1,1.315515,18.333333,24.117773
126123,2021-12-28 00:00:00,YWPS2,VIC1,1.315515,0.000000,0.000000
126124,2021-12-28 00:00:00,YWPS3,VIC1,1.315515,18.333333,24.117773
126125,2021-12-28 00:00:00,YWPS4,VIC1,1.315515,21.666667,28.502823

#### Get Total Emissions at a Regional level by Dispatch Interval

In [7]:
region_stats = get_total_emissions_by_(start_time, end_time, cache, by="interval")
region_stats['Total_Emissions']

Compiling data for table DISPATCHLOAD.
Returning DISPATCHLOAD.

REGIONID               NSW1    QLD1   SA1  TAS1    VIC1
Time
2021-12-27 00:05:00  339.37  398.35  4.54   0.0  322.28
2021-12-27 00:10:00  334.59  400.05  4.54   0.0  318.26
2021-12-27 00:15:00  332.67  397.59  4.54   0.0  319.08
2021-12-27 00:20:00  327.41  396.90  4.54   0.0  315.67
2021-12-27 00:25:00  329.63  398.35  4.54   0.0  318.34
...                     ...     ...   ...   ...     ...
2021-12-27 23:40:00  317.63  434.74  4.54   0.0  334.99
2021-12-27 23:45:00  320.87  435.48  4.54   0.0  328.81
2021-12-27 23:50:00  316.51  429.92  4.54   0.0  324.18
2021-12-27 23:55:00  314.20  433.20  4.54   0.0  317.84
2021-12-28 00:00:00  315.23  431.60  4.54   0.0  313.81

[288 rows x 5 columns]

We can also see the total energy and emissions intensity metrics

In [8]:
region_stats['Energy']

REGIONID               NSW1    QLD1     SA1   TAS1    VIC1
Time
2021-12-27 00:05:00  494.08  490.34  139.24  50.27  425.46
2021-12-27 00:10:00  491.12  490.72  136.91  49.46  420.82
2021-12-27 00:15:00  486.01  488.21  131.68  48.80  424.68
2021-12-27 00:20:00  476.58  487.41  129.87  49.02  422.50
2021-12-27 00:25:00  473.69  488.91  131.40  49.14  423.40
...                     ...     ...     ...    ...     ...
2021-12-27 23:40:00  515.11  540.89  129.81  51.62  454.91
2021-12-27 23:45:00  518.39  542.35  129.88  51.30  451.01
2021-12-27 23:50:00  513.13  536.06  130.64  51.57  443.72
2021-12-27 23:55:00  511.87  538.83  131.49  51.25  437.67
2021-12-28 00:00:00  512.44  535.77  131.53  51.76  432.92

[288 rows x 5 columns]

In [9]:
region_stats['Intensity_Index']

REGIONID             NSW1  QLD1   SA1  TAS1  VIC1
Time
2021-12-27 00:05:00  0.69  0.81  0.03   0.0  0.76
2021-12-27 00:10:00  0.68  0.82  0.03   0.0  0.76
2021-12-27 00:15:00  0.68  0.81  0.03   0.0  0.75
2021-12-27 00:20:00  0.69  0.81  0.03   0.0  0.75
2021-12-27 00:25:00  0.70  0.81  0.03   0.0  0.75
...                   ...   ...   ...   ...   ...
2021-12-27 23:40:00  0.62  0.80  0.03   0.0  0.74
2021-12-27 23:45:00  0.62  0.80  0.03   0.0  0.73
2021-12-27 23:50:00  0.62  0.80  0.03   0.0  0.73
2021-12-27 23:55:00  0.61  0.80  0.03   0.0  0.73
2021-12-28 00:00:00  0.62  0.81  0.03   0.0  0.72

[288 rows x 5 columns]